#what .items{
    display: block;
    padding: 1rem;
}

/* Align Item to left */
#what .items .item {
    display: flex;
    text-align: left;
  }
  
  /* Position Items */
  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }

  /* Smartphones */
  @media(max-width:500px){
    #navbar{
      flex-direction: column;
      align-items: center;
    }

    #navbar .logo{
      margin-bottom: 0.5rem;
      text-align: center;
    }

    #navbar ul{
      padding: 0.5rem;
    }

    #showcase .showcase-content{
      top: 104px;
    }

    #who{
      display: block;
    }

    #who .who-img{
      display: none;
    }

    #clients .items img{
      width: 20%;
      padding: 0.5rem;
    }

    #contact{
      flex-direction: column;
    }

    #contact .map{
      
      border-top: 4px #333 solid;
    }
  }